html {
  background-color: rgb(60, 62, 88);
  height: 100vh;
}

#phaser-game {
  height: 100vh;
}

canvas {
  border: 5px ridge black;
}

@media only screen and (max-width: 500px) {
  canvas {
    margin: 10px 0 !important;
    width: 95vw !important;
    height: 100vh !important;
  }
}